//
// HEADER
//


.site-header {
    display: flex;
    height: 100vh;
    text-align: center;
    align-items: center;
    justify-content: center;

    svg {
        display: block;
        margin: 0 auto;
    }
}

a.portfolio-link {
    position: absolute;
    bottom: 40px;
    border-bottom: 0;

    &:hover { margin-bottom: none; }

    &:after {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        transition: .25s top cubic-bezier(.175, .885, .320, 1.575);
        content: '⇩';
    }

    &:hover:after {
        top: 120%;
    }
}
